#title {
  margin: 3rem;
}

*{ 
  text-align: center;
  justify-content: center;
}

.quiz-container{
    /* background-color: blue; */
}
.hide{
  display: none;  
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

.scoreStorage {
  text-align: left;
}

.option:hover { 
  background-color: lightcyan;
  cursor: pointer;
  border: 2px solid;
}